.center
{
  text-align: center;
}

.footer {
  bottom: 0;
  margin-top: auto;
  width: 100%;
  background-color: #006B8F;
  color: white;
  text-align: center;

}

html {
  height: 100%;
}

body
{
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin : 0pt;
}

.Frame
{
  display: table;
  height: 100%;
  width: 100%;
}

.Row
{
  display: table-row;
  height: 1px;
}

.Row.Expand
{
  height: auto;
}


#nav
{
  background-color: #D6F8FF;
}

.back
{
  background-color: #D6F8FF;
}

header
{
  background-color:  #006B8F;
  color: #FFFFFF;
  padding-bottom: 5px;
}

.homepage
{
  background-color: #00AACC;
  color: #FFFFFF;
  transition: background-color 1s;
}



.card-link
{
  text-decoration:none
}

.homepage:hover
{
  background-color: #0099CC
}


#community
{
  background-color: #323433;
  color: #CCCCCC
}

@media(max-width: 1200px) {
  .btn span {
      display: block;
      max-width: 200px;
      white-space: normal;
  }
}

.link
{
  text-decoration:none;
}

.subjects
{
  background-color: #00AACC;
  color: #FFFFFF;
}

.accordion-body
{
  background-color: #00AACC;
  color: #FFFFFF;
}

li
{
  list-style-type: none;
}

.subheading
{
  padding-top: 10px
}

#search
{
  color: #FFFFFF;
  border-color: #FFFFFF;
  transition: background-color 1s;
}


a.html:link
{
  color: #FFFFFF;
}

a.html:visited
{
  color:  #CCCCCC;
}

a.html:hover
{
  color: #00AACC;
}

#section
{
 padding-top: 10px;
}

#gaming
{
  padding-bottom: 10px;
}

.home-card
{
  overflow: hidden;
}

.background
{
  height: 100%;
  position: relative
}

.collapse
{
  height: 100%;
}

main { 
  flex: 1;
}