.center
{
  text-align: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5%;
  background-color: #006B8F;
  color: white;
  text-align: center;
}

#nav
{
  background-color: #D6F8FF;
}

.back
{
  background-color: #D6F8FF;
  width: 100%;

}

header
{
  background-color:  #006B8F;
  color: #FFFFFF;
  padding-bottom: 5px;
}

.homepage
{
  background-color: #00AACC;
  color: #FFFFFF;
  transition: background-color 1s;
}

#physics
{
  background-color: #00FFF6;
}


.card-link
{
  text-decoration:none
}

.homepage:hover
{
  background-color: #0099CC
}


#community
{
  background-color: #323433;
  color: #CCCCCC
}

@media(max-width: 1200px) {
  .btn span {
      display: block;
      max-width: 200px;
      white-space: normal;
  }
}



.link
{
  text-decoration:none;
}

.subjects
{
  background-color: #00AACC;
  color: #FFFFFF;
}

.accordion-body
{
  background-color: #00AACC;
  color: #FFFFFF;
}

li
{
  list-style-type: none;
}

.subheading
{
  padding-top: 10px
}

#search
{
  color: #FFFFFF;
  border-color: #FFFFFF;
  transition: background-color 1s;
}


#section
{
  padding-top: 10px;
}

#gamingP
{
  padding-bottom: 10px;
}